name: Pull Request Action
on: push
jobs:
  create-pull-request:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository code
        uses: actions/checkout@v3
      - name: pull-request
        uses: repo-sync/pull-request@v4
        with:
          destination_branch: "main"
          github_token: ${{ secrets.TOKEN }}
          pr_label: "automated pr"
          pr_title: ${{github.event.head_commit.message}}
          commit-message: Update report
          committer: GitHub <noreply@github.com>
          author: ${{ github.actor }} <${{ github.actor }}@users.noreply.github.com>
          signoff: false
          delete-branch: true

