name: Pull Request Action
on: push
jobs:
  create-pull-request:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository code
        uses: actions/checkout@v2
      - name: pull-request
        uses: repo-sync/pull-request@v2
        with:
          destination_branch: "main"
          github_token: ${{ secrets.TOKEN }}
          pr_label: "feature, automated pr"
          pr_title: "[Example] Simple demo"